@import "./reset.less";

/* colors */

@netflixRed: rgb(123, 0, 2);
@sidebarBgColor: rgb(24, 22, 19);
@DarkColor: rgb(45, 40, 36);
@LightColor: rgb(99, 99, 99);

@topNavBgColor: @netflixRed;

@mainViewBgColor: rgb(45, 40, 36);

@mainViewTextColor: rgb(164, 164, 164);

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: red;
  background-color: @LightColor;
};

.container {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.header {
  background-color: @topNavBgColor;
  height: 5em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
}

.side-panel.standard {
  display: inline-block;
  background-color: @sidebarBgColor;
  color: @LightColor;
  padding-top: 5em;
  padding-left: 3em;
  padding-right: 4em;
  padding-bottom: 10em;
  width: 15em;
  min-height: 100%;
  overflow-y: visible;
  margin-bottom: auto;
  vertical-align: top;
} 

.main-panel {
  display: inline-block;
  padding-left: 1em;
  background-color: @LightColor;
  color: @DarkColor;
  width: 60%;
  //height: 147%;
  margin: 0px;
  overflow-y: visible;
  vertical-align: top;
  padding-top: 5em;
  padding-left: 2em;
}

