/* colors */
@sidebarBgColor: rgb(24, 22, 19);

@topNavColor: rgb(123, 0, 1);

@mainViewBgColor: rgb(45, 40, 36);

@mainViewTextColor: rgb(164, 164, 164);


body {
  color: red;
  background-color: @sidebarBgColor;
};

#header {

}

#side-panel.standard {

}

#main-panel {

}

