doctype html
html(lang="en")
  head
    title= pageTitle
  body
    noscript This page requires javascript to run properly
    .header
    block content
    script(type='text/javascript', src='/js/main/app.js')
    link(rel='stylesheet', type='text/css', href='/styles/main.css')
    script#tmp-selection.template(type="x-template")
      include ../templates/selection.tmp
    script#tmp-library.template(type="x-template")
      include ../templates/library.tmp

